        /* using base styles from: https://www.tutorialrepublic.com/codelab.php?topic=faq&file=changing-image-on-hover-with-css */
        .leg_div {
            position: fixed;
            top: 30%;
            right: 0%;

        }

        /* sidewalk surface rules:  */
        .sw-leg-sur {
            position: fixed;
            top: 30%;
            right: 0%;
            z-index: 1;
        }

        .sw-leg-sur .hover_base_sur {
            display: none;
            z-index: 101;


        }

        .sw-leg-sur:hover .hover_base_sur {
            display: inline;
            height: 120;
            z-index: 101;
            transform: scale(1.1, 1.1);
            background-color: white;



        }


        /* sidewalk smoothness rules:  */
        .sw-leg-smo {
            position: fixed;
            top: 42%;
            right: 0%;
            z-index: 2;
        }

        .sw-leg-smo .hover_base_smo {
            display: none;
            z-index: 102;

        }

        .sw-leg-smo:hover .hover_base_smo {
            display: inline;
            z-index: 102;
            transform: scale(1.1, 1.1);
            background-color: white;



        }

        /* crossings rules:  */
        .crossings-leg {
            position: fixed;
            top: 54%;
            right: 0%;
            z-index: 3;
        }

        .crossings-leg .hover_base_cr {
            display: none;
            z-index: 103;

        }

        .crossings-leg:hover .hover_base_cr {
            display: inline;
            transform: scale(1.1, 1.1);
            background-color: white;

            position: absolute;
            top: 0;
            left: 0;


        }

        /* kerbs rules:  */
        .kerbs-leg {
            position: fixed;
            top: 66%;
            right: 0%;
            z-index: 4;
        }

        .kerbs-leg .hover_base_kb {
            display: none;
            z-index: 104;

        }

        .kerbs-leg:hover .hover_base_kb {
            display: inline;
            z-index: 104;
            transform: scale(1.1, 1.1);
            background-color: white;




        }

        .map-symbols-common {
            display: none;
            position: fixed;
            top: 20%;
            right: 0%;
            transform: scale(.8, .8);

        }

        .responsive {
            max-width: 100%;
            height: auto;
        }

        /* hiding rules 

        #sw-smo-div:hover ~ #kerbs-div {
            display: none;
        } 
        
        */